          {% if event %}
          <input type="hidden" id="event_id" value="{{event.id}}"/>
          <div class="alert alert-success" role="alert">
            Congrats! An event was created at <a target="_blank" href="{{restaurant.url}}" class="alert-link">{{restaurant.name}}</a> on {{event.eventTime}}
          </div>
          {% else %}
          <div class="form-group">
            <input type="hidden" id="event_restaurant_id" value="{{restaurant.id}}"/>
            <label for="restaurant_name">Restaurant</label>
            <input type="text" readonly class="form-control-plaintext" id="restaurant_name" value="{{restaurant.name}}">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-6 mb-3">
                  <label for="create_event_date">Date*</label>
                  <input type="date" id="create_event_date" class="form-control" value=""/>
              </div>
              <div class="col-6 mb-3">
                  <label for="create_event_time">Time*</label>
                  <input type="time" id="create_event_time" class="form-control" value=""/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-6 mb-3">
                <label for="add_colleagues">Colleagues</label>
                <div class="input-group mb-3">
                  <select class="form-control" id="add_colleague">
                    <option data-id="none" selected>Select...</option>
                    {% for colleague in user.colleagues.all %}
                    <option data-id="{{colleague.id}}" value="{{colleague.first_name}} {{colleague.last_name}}">{{colleague.first_name}} {{colleague.last_name}}</option>
                    {% endfor %}
                  </select>
                  <div class="input-group-append">
                    <button id="add_attendee_btn" class="btn btn-outline-secondary" type="button">+</button>
                  </div>
                </div>
              </div>
              <div class="col-6 mb-3">
                <label for="attendees">Attendees*</label>
                <ul id="attendees">
                </ul>
              </div>
            </div>
          </div>
          {% endif %}