{% extends "lunch/base.html" %}
{% load static %}

{% block title %}
  Canteen - Login
{% endblock %}

{% block script %}
  <script src="{% static 'lunch/login.js' %}"></script>
{% endblock %}

{% block body %}
<main class="container text-center" role="main">
  <div class="jumbotron">
    <h1 class="display-4">Canteen</h1>
    <p class="lead d-none d-md-block">Get lunch with colleagues the easy way</p>
  </div>
  <form class="form-horizontal" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Sign in</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="username">Username</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
            </div>
            {{ form.username }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span id="username-error" class="text-danger align-middle" hidden>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Password</label>
      </div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-key"></i></span>
            </div>
            {{ form.password }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span id="password-error" class="text-danger align-middle">
            {% if message %}
            {{ message }}
            {% endif %}
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <a href="{% url 'register' %}" class="btn btn-info btn-lg" role="button"><i class="fa fa-user-plus mr-2"></i>Register</a>
        <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-sign-in-alt mr-2"></i>Sign in</button>
      </div>
    </div>
  </form>
</main> 
{% endblock %}